<!doctype html>
<html>

<head>
    <title>ClariFile</title>
    <link rel="icon" type="image/png" href="static/img/logo.png" sizes="128x128" />
    <link rel="stylesheet" href="static/styles/main.css" type="text/css">
</head>

<body>
    <div class="file-upload">
        <img src="static/img/logo.png" style="display:block; margin: 0 auto; padding-bottom: 10px;">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
            File</button>

        <form method="post" enctype="multipart/form-data">      
            <div class="file-upload-placeholder">
                <input class="file-upload-input" type='file' name='file' onchange="readURL(this);" />
                <div class="drag-text">
                    <h3>Drag and drop a file or select add File</h3>
                </div>
            </div>

            <div class="file-upload-preview">
                <iframe class="file-upload-image" width="800px" height="400px" style="border: none;" src="#" alt="File"></iframe>
                <div class="file-upload-remove">
                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                            class="image-title">Uploaded File</span></button>
                    <input type="submit" value="Upload" class="remove-image">
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="static/scripts/main.js"></script>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>

</html>